{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Shares</th>
                <th>Price</th>
                <th>Transacted</th>
            </tr>
        </thead>
        <tbody>
            {% for value in history %}
                <tr>
                        <td>{{ value.stock }}</td>
                        <td>{{ value.shares }}</td>
                        <td>${{ '%0.2f' | format(value.price) }}</td>
                        <td>{{ value.time }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
